{% extends "base.html.twig" %}

{% block body %}
    <div>
        {#<div>
            <a href="{{ path('product_index') }}"><div>lista produktów</div></a>
        </div>#}
        
        <table>
            <tr>
                <th>nazwa</th>
                <th>opis</th>
                <th>obraz</th>
                <th>wartosc</th>
                <th>akcje</th>
            </tr>
            
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.image}}</td>
                <td>{{product.value}}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id }) }}"><div>edytuj</div></a>
                    <a href="{{ path('product_delete', {'id': product.id }) }}"><div>usuń</div></a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}